:root{
    --ColorPrincipal: #1B396A;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
}
.verde{
    width:100%;
    height: 4.5rem;
    background-color: rgb(11, 35, 30);
}
.verde img{
    height: 4rem;
    width: 10rem;
}

.Nav-principal{
    width: 100%;
    height: 4.5rem;
    background-color: rgb(27, 57, 106);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Nav-principal a{
    color: white;
    font-size: 2.0rem;
    text-decoration: none;
    padding: 1.0rem;
}

.allLogos{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}

#Imagen1 img{
    height: 7.5rem;
    width: 23rem;
}

#Imagen2 img{
    height: 7.5rem;
    width: 23rem;
}

#Imagen3 img{
    height: 7.5rem;
    width: 23rem;
}

#Imagen4 img{
    height: 7.5rem;
    width: 10rem;
}
.Tamano{
    font-size: 2.5rem;
}

.Sobre-examen{
 background-image:linear-gradient(to right, transparent 50%,blue 100%),
url(../EVALUATEC/Img/banner.png);
padding: 10rem 1rem;
background-size: 100%, 130rem;
}

.contenedor{
    display: grid;
    background-repeat: no-repeat;
    grid-template-columns: 2, 1fr;
}

.Texto-examen{
    font-size: 2.1rem;
    text-align: justify;
   
    grid-column: 2/3;
    padding-left: 90rem;
}

.Listado-areas{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    column-gap: 10rem;
    height: 20rem;
    padding: 2rem;
}

.Imagen-categorias img{
    height: 20rem;
    width: 20rem;
}

.Imagen-categorias{
    text-align: center;
    font-size: 1.8rem;
    color: white;
    background-color: rgb(27, 57, 102);
}

.Imagen-categorias a{
    color: white;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
}

.Imagen-categorias :hover a{
    transform: scale(1.2);
}

.center h3{
    text-align: center;
    font-size: 3rem;
}

.Lista-recomendacion{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 25rem;
    padding-right: 25rem;
}

.Recom h3{
padding: 10rem;
text-align: center;
font-size: 2.5rem;
padding-bottom: 5rem;
}
.Lista-recomendacion img{
    height: 4rem;
    width: 4rem;
}
.Lista-recomendacion{
    font-size: 2.0rem;
}

.center{
    text-align: center;
    font-size: 2.5rem;
}

.Imagenes-sitios{
 display: flex;
 flex-direction: row;
 justify-content: space-around ;
 padding-bottom: 5rem;
}

.Imagen-sitio1:hover {
    transform: scale(1.2);
}

.Imagen-sitio2:hover {
    transform: scale(1.2);
}

.Imagen-sitio3:hover {
    transform: scale(1.2);
}

.footer{
    width: 100%;
    height: 40rem;
    background-color: var(--ColorPrincipal);
    display: flex;
    
}

.info{
    color: white;
    font-size: 2.5rem;
    padding-left: 10rem;
    padding-top: 2rem;
}

.direccion{
    color: white;
    font-size: 2rem;
}

.titulo-contacto{
    color: white;
    font-size: 2.5rem;
    padding-left: 20rem;
    padding-top: 2rem;
}

.contacto{
    color: white;
    font-size: 2rem;
}